.text-color1 {
  color: #795199;
}

.text-color2 {
  color: #b89076;
}

.text-colorHelp {
  color: #795199;
  text-shadow: 0 0 3px #795199;
}

.text-colorWhite {
  color: rgb(209, 209, 209);
}

.text-colorGrey {
  color: #707070;

  a:visited {
    color: #707070;
  }
}

.text-colorYellow {
  color: #e8f53b;
}

.text-colorGreen {
  color: #519975;
}
