.dark-mode {
  background-color: black;
  color: #ffffff;

  #jShell::before {
    color: #519975;
  }

  .text-color1 {
    color: #795199;
  }

  .text-color2 {
    color: #b89076;
  }

  .text-colorHelp {
    color: #795199;
    text-shadow: 0 0 2px #795199;
  }

  .text-colorWhite {
    color: rgb(209, 209, 209);
  }

  .text-colorGrey {
    color: #707070;

    a:visited {
      color: #707070;
    }
  }

  .text-colorYellow {
    color: #e8f53b;
  }

  .text-colorGreen {
    color: #519975;
  }
}

.light-mode {
  background-color: #ffffff;
  color: #000000;

  #jShell::before {
    color: #8800f8;
  }

  .text-color1 {
    color: #6506b3;
  }

  .text-color2 {
    color: #000000;
  }

  .text-colorHelp {
    color: #795199;
    text-shadow: 0 0 2px #795199;
  }

  .text-colorWhite {
    color: rgb(0, 0, 0);
  }

  .text-colorGrey {
    color: #000000;

    a:visited {
      color: #363636;
    }
  }

  .text-colorYellow {
    color: #1596d1;
  }

  .text-colorGreen {
    color: #519975;
  }
}

.halcyon {
  background-color: #1d2433;
  color: #bae67e;

  #jShell::before {
    color: #ffae57;
  }

  .text-color1 {
    color: #bae67e;
  }

  .text-color2 {
    color: #ffd580;
  }

  .text-colorHelp {
    color: #c3a6ff;
    text-shadow: 0 0 2px #c3a6ff;
  }

  .text-colorWhite {
    color: #ffd580;
  }

  .text-colorGrey {
    color: #bae67e;

    a:visited {
      color: #a2aabc;
    }
  }

  .text-colorYellow {
    color: #1596d1;
  }

  .text-colorGreen {
    color: #519975;
  }
}
